{% include "centerpiece/base.html" %}
<body>
    <div class= "bg text-center"><h1>{{title|upper}}</h1></div>
    <div class="container-fluid offset-top">
        <div class="row">
        <div class="col-md-3">
            <div class="text-center"><h2>BREAKING NEWS</h2></div>
            {% for story,url in top_stories.items %}
                <h4><a href={{url}}>{{story}}</a></h4>
            {% empty %}
                <p> No news right now!</p>
            {% endfor %}
        </div>
        <div class="col-md-7 border-all">
            <div class="text-center"><h2> TOP NEWS </p></div>
            {% for each_story in stlist %}
                <h4><a href={{each_story.url}}>{{each_story.title}}</a></h4>
                {{each_story.summary}}
            {% empty %}
                <p> No stories! </p>
            {% endfor %}
            <div class="text-center"></div>
        </div>
        <div class="col-md-2">
            <iframe id="forecast_embed" type="text/html" frameborder="0" height="245" width="100%" src="http://forecast.io/embed/#lat=40.1112970&lon=-88.23238&name=Champaign"> </iframe>
        </div>
        </div>
        <div class="row">
            </br></br>
        </div>
            {% for key,value in sub.items %}
            <div class="row top-line">
                    <div class="col-md-2">
                        <button class="btn btn-primary" onclick="curDate('country-data-{{forloop.counter0}}', '{{key}}')"><h2> {{key|upper}} </h2></button>
                        <p id="country-data-{{forloop.counter0}}"></p>
                    </div>
                        {% for each_story in value %}
                        <div class = "col-md-5">
                            <h4><a href={{each_story.url}}>{{each_story.title}}</a></h4>
                            {{each_story.summary}}
                        </div>
                        {% empty %}
                            <p>No stories!</p>
                        {% endfor %}
                    </div>
            </div>
            {% empty %}
            {% endfor %}
    </div>
</body>
