* {
    font-family: 'Lato', sans-serif;
}
html {
    background-color: #808080;
    background-image: url("../images/diagmonds-light.png");
}
body { 
    margin-top: 50px; 
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    line-height: 1.6;
    font-size: 14px;
    background-color: white;
    color: #444;
}
h1,h2,h3,h4{
    line-height:1.2;
}

.offset-top{
    margin-top: 30px;
}
.bg{
    background-color: #808080;
    background-image: url("../images/diagmonds-light.png");
}
.border-all{
    border-right: 2px solid #808080;
    border-left: 2px solid #808080;
}
.top-line{
    margin: auto;
    border-top: 2px solid #808080;
    padding-top: 20px;
    padding-bottom: 20px;
}
.fixed-sidebar{
    position: fixed;
}
.bodypad{
    padding-left: 70px;
}
input[type="radio"] {
    margin-right: 10px;
    margin-bottom: 10px;
}
.form-title{
    padding-bottom:20px;
}
th, td {
    padding-right: 20px;
    padding-bottom:20px;
}
tr {
    margin-bottom: 90px;
}

.left-padded{
    padding-left: 50px;
}
